# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
# We want to track intelligence history in the repo
!data/*.csv
!data/*.parquet
!data/test.txt

# Config
config/secrets.yaml

# IDEs
.vscode/
.idea/
